*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
section{width: 100%; min-width: 320px;}

/* PostWrite */
.write-sec .container{width: 100%; max-width: 700px; margin: 36px auto 0; padding:24px; background-color: whitesmoke; border-radius: 15px;}
.write-sec .container .form .wrapper > label{min-width: 80px; text-align: center;}

/* PostList */
.list-sec .container{width: 100%; max-width: 700px; margin: 36px auto 0; padding:24px; background-color: whitesmoke; border-radius: 15px;}

/* Post */
.list-sec .container .item-wrapper{padding:0}
.list-sec .container .item-wrapper .item{}
.list-sec .container .item-wrapper .item .inner{padding:12px; background-color: rgb(231, 231, 231);}
.list-sec .container .item-wrapper .item .left{border-radius: 5px 0 0 5px;}
.list-sec .container .item-wrapper .item .middle{}
.list-sec .container .item-wrapper .item .right{border-radius: 0 5px 5px 0;}

.list-sec .container .item-wrapper .item .middle .post-title{padding: 5px;}
.list-sec .container .item-wrapper .item .middle .post-content{background-color: white; padding: 5px; border-radius: 5px;}